{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet diam mollis nunc vestibulum suscipit. Sed eget imperdiet augue. Aliquam erat volutpat. Aliquam scelerisque eros tortor, nec consequat sapien consectetur at. Etiam enim lectus, placerat ullamcorper vulputate id, egestas sit amet urna. Curabitur lacus ante, gravida et aliquam eget, commodo ac augue. Suspendisse sed scelerisque elit. Fusce tristique lectus dolor, a efficitur libero elementum a. Maecenas laoreet, velit eget tempor facilisis, enim felis rutrum ex, ut ultrices risus ipsum at tellus. Nulla consequat sed augue eu hendrerit. In dictum id erat vitae mollis. Nunc facilisis sapien ultrices maximus dictum. Suspendisse vestibulum volutpat fermentum. Suspendisse tempus ligula sit amet egestas fermentum. Phasellus et felis id lacus placerat varius.</p>

{% endblock %}
